.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.clock {
    display: flex;
}

.clock .divider {
    font-size: 66px;
    line-height: 102px;
    font-style: normal;
}

.clock .flip {
    position: relative;
    width: 60px;
    height: 100px;
    margin: 2px;
    font-size: 66px;
    line-height: 100px;
    text-align: center;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.4));
}

.clock .flip .digital::before, .clock .flip .digital::after {
    position: absolute;
    content: attr(data-number);
    left: 0;
    right: 0;
    color: white;
    background: black;
    overflow: hidden;
    perspective: 160px;
}

.clock .flip .digital::before {
    top: 0;
    bottom: 50%;
    border-bottom: 1px solid #666;
    border-radius: 10px 10px 0 0;
}

.clock .flip .digital::after {
    top: 50%;
    bottom: 0;
    line-height: 0;
    border-radius: 0 0 10px 10px;
}

.clock .flip .back::before,
.clock .flip .front::after {
    z-index: 1;
}

.clock .flip .back::after {
    z-index: 2;
}

.clock .flip .front::before {
    z-index: 3;
}

.clock .flip .back::after {
    transform-origin: center top;
    transform: rotateX(0.5turn);
}


.clock .flip.running.front::before {
    transform-origin: center bottom;
    animation: frontFlipDown 0.6s ease-in-out;
    box-shadow: 0 -2px 6px rgba(255, 255, 255, 0.3);
    backface-visibility: hidden;
}

.clock .flip.running.back::after {
    animation: backFlipDown 0.6s ease-in-out;
}

.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 400px;
    margin: 30px auto;
    border: 1px solid #ededed;
    border-radius: 5px;
}

.mat-form-field input {
    display: block;
    height: 24px;
    margin: 18px 0;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: none;
    line-height: 24px;
    outline: none;
    padding: 0 15px;
}

.mat-form-field label {
    position: absolute;
    left: 15px;
    height: 24px;
    top: 18px;
    font-size: 16px;
    line-height: 24px;
    background: #fff;
    padding: 0 6px;
    margin-left: -6px;
    transition: top 0.3s ease-in-out;
}

.mat-form-field.focus label, .mat-form-field.value label {
    top: -11px;
    transform: scale(0.75);
    transform-origin: 0;
}

.mat-form-field.focus, .mat-form-field.value {
    border: 2px solid #ededed;
}

.buttons {
    text-align: center;
    margin-top: 50px;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #3f51b5;
    color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.buttons a.warn {
    background-color: #f44336;
}

@keyframes frontFlipDown {
    to {
        transform: rotateX(0.5turn);
    }
}

@keyframes backFlipDown {
    to {
        transform: rotateX(0);
    }
}
